.dsmovie-paginacao-container {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dsmovie-paginacao-box {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dsmovie-paginacao-box form {
    width: 100%;
    display: flex;
}

.dsmovie-paginacao-button {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #032541;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-secondary);
    cursor: pointer;
}

.dsmovie-paginacao-button:hover {
    background-color: #ffffff;
}
.dsmovie-paginacao-button svg {
    filter: brightness(0) saturate(100%) invert(26%) sepia(19%) saturate(7395%) hue-rotate(234deg) brightness(89%) contrast(92%);
}

.dsmovie-paginacao-button:disabled {
    border: 1px solid #c2c2c2;
    cursor: unset;
    background-color: #dad8d8;
}

.dsmovie-paginacao-button:disabled svg {
    filter: none;
}

.dsmovie-paginacao-container p {
    margin: 0;
    font-size: 14px;
    color: var(--color-secondary);
    font-weight: 550;
}

.dsmovie-flip-horizontal {
    transform: rotate(180deg);
}